
<template>
  <footer class="bg-dark mt-4 py-4 text-white">
    <div class="col-md-8 mx-auto">
      <div class="row">
        <div class="col-md-4">
          <img src="../assets/UKLogo.png" style="width: 3rem" />
          &copy; 2020 - Akatsuki
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <ul>
            <ul>
              <li>
                <a
                  href="https://portal.uni-koeln.de/impressum"
                  rel="noopener nofollow"
                  target="_blank"
                  style="color: white"
                  >Impressum</a
                >
              </li>
            </ul>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from "vue-property-decorator";

@Component
export default class UkFooter extends Vue {}
</script>
