
<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5 fixed-top">
    <a class="navbar-brand" href="#">
      <img src="../assets/UKLogo.png" style="width:2rem">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <router-link class="nav-link" to="/">Apply </router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/applicant/referral">Refer </router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/applicant/status">Status </router-link>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from "vue-property-decorator";

@Component
export default class NavBar extends Vue {}
</script>
