<template>
  <div style="margin-top: 6.5rem">
    <form v-on:submit.prevent="onSubmit" v-if="formStatus == 'unsend'">
      <h1>Apply</h1>

      <p>Apply for a course at the University of Cologne.</p>
      <hr />
      <div
        class="form-group"
        v-for="(field, id) of fields"
        v-bind:key="field.id"
      >
        <label :for="'field' + id">{{ field.title }}</label>
        <input
          v-model="field.value"
          :type="field.type"
          class="form-control"
          :id="'field' + id"
          :placeholder="field.placeholder"
        />
      </div>

      <div class="form-group">
        <label for="course">Courses</label>
        <multiselect
          v-model="applyCourses"
          :options="courses"
          :multiple="true"
          :close-on-select="false"
          :clear-on-select="false"
          :preserve-search="true"
          placeholder="Courses to apply"
        ></multiselect>
      </div>

      <file-pond
        name="file"
        ref="pond"
        label-idle="Drop files here..."
        v-bind:allow-multiple="true"
        accepted-file-types="image/jpg, image/png, application/pdf"
        server="http://localhost:3000/files"
        v-bind:files="myFiles"
        :fileRenameFunction="rename"
      />

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div v-if="formStatus == 'sent'" class="mx-auto col-md-6">
      <h1>Congrationlations!</h1>
      <p>You've just sent your application.</p>
      <p>Please store your application ID for referrals!</p>
      <div class="col-md-4">
        <input
          class="form-control applicationID"
          type="text"
          :placeholder="applicationID"
          readonly
          :value="applicationID"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";

// Import Vue FilePond
import vueFilePond from "vue-filepond";

import axios from "axios";

// Import FilePond styles
import "filepond/dist/filepond.min.css";
import FilePondPluginFileRename from "filepond-plugin-file-rename";

import Component from "vue-class-component";
import { v4 as uuidv4 } from "uuid";

import { required, minLength, between } from "vuelidate/lib/validators";

// Create component
const FilePond = vueFilePond(FilePondPluginFileRename);
@Component({
  FilePond,
})
export default class Apply extends Vue {
  fields = [
    {
      name: "firstname",
      title: "First Name",
      value: "",
      placeholder: "",
      type: "text",
    },
    {
      name: "lastname",
      title: "Last Name",
      value: "",
      placeholder: "",
      type: "text",
    },
    {
      name: "gender",
      title: "Gender",
      value: "",
      placeholder: "",
      type: "text",
    },
    {
      name: "birthdate",
      title: "Birth Date",
      value: "",
      placeholder: "dd.mm.yyyy",
      type: "date",
    },
    {
      name: "nationality",
      title: "Nationality",
      value: "German",
      placeholder: "",
      type: "text",
    },
    {
      name: "email",
      title: "E-Mail",
      value: "",
      placeholder: "",
      type: "email",
    },
    {
      name: "birthplace",
      title: "Birthplace",
      value: "",
      placeholder: "",
      type: "text",
    },
    {
      name: "street",
      title: "Street",
      value: "",
      placeholder: "",
      type: "text",
    },
    {
      name: "postalcode",
      title: "Postal Code",
      value: "",
      placeholder: "",
      type: "text",
    },
  ];
  formStatus = "unsend";
  uploadedFiles = [];

  myFiles = [];
  courses = [];
  applyCourses = [];

  applicationID = "";

  mounted() {
    axios
      .get("http://localhost:3000/courses")
      .then((response) => {
        this.courses = response.data.map((course) => course.name);
      });
  }

  rename(file) {
    const filename = uuidv4() + file.name;
    this.uploadedFiles.push(filename);
    return filename;
  }

  onSubmit() {
    for (let i = 0; i < this.fields.length; i++) {
      const field = this.fields[i];
      if (field.value == "") {
        Vue.toasted.error("Please fill out all fields");
        return false;
      }
    }

    // strip some fields
    const fields = {};
    this.fields.forEach((field) => {
      fields[field.name] = field.value;
    });

    const _courses = [];
    this.applyCourses.forEach((course) => {
      _courses.push({ name: course, status: "New" });
    });

    axios
      .post(
        "http://localhost:3000/applications",
        {
          fields: fields,
          files: this.uploadedFiles,
          status: "new",
          courses: _courses,
        }
      )
      .then((response) => {
        console.log(response);
        this.formStatus = "sent";
        Vue.toasted.success("Application sent successfully");
        this.applicationID = response.data._id;
      });
  }
}
</script>
