<template>
  <div style="margin-top: 6.5rem">
    <h1>Referral documents received</h1>
    <p>Your uploaded documents were transfered succesfully.</p>
  </div>
</template>

<script>
import Vue from "vue";
import Component from "vue-class-component";

// Import Vue FilePond
@Component
export default class ReferralReceived extends Vue {
}
</script>
