<template>
  <div style="margin-top: 6.5rem">
    <h1>Add a letter of recommendation</h1>
    <form v-on:submit.prevent="fetchApplication">
      <div class="col-md-4" v-if="!application.fields">
        <label class="sr-only" for="inlineFormInputGroup">Application ID</label>
        <div class="input-group mb-2">
          <input
            type="text"
            class="form-control"
            name="application-id"
            v-model="application._id"
            placeholder="908q34fh"
          />

          <div class="input-group-append">
            <button class="btn btn-outline-success">Request application</button>
          </div>
        </div>
      </div>
    </form>
    <form v-on:submit.prevent="onSubmit" v-if="application.fields">
      <div>
        <h2>
          Upload your referral for {{ application.fields.firstname }} ({{
            application._id
          }})
        </h2>
        <file-pond
          name="file"
          ref="pond"
          label-idle="Drop files here..."
          v-bind:allow-multiple="true"
          accepted-file-types="image/jpg, image/png, application/pdf"
          server="http://localhost:3000/files"
          v-bind:files="myFiles"
          :fileRenameFunction="renameUpload"
        />

        <button class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</template>

<script>
import Vue from "vue";

// Import Vue FilePond
import vueFilePond from "vue-filepond";

import axios from "axios";

// Import FilePond styles
import "filepond/dist/filepond.min.css";
import FilePondPluginFileRename from "filepond-plugin-file-rename";

import Component from "vue-class-component";
import { v4 as uuidv4 } from "uuid";

// Create component
const FilePond = vueFilePond(FilePondPluginFileRename);
@Component({
  FilePond,
})
export default class Apply extends Vue {
  application = { id: "" };

  uploadedFiles = [];

  myFiles = [];

  rename(file) {
    const filename = uuidv4() + file.name;
    this.uploadedFiles.push(filename);
    return filename;
  }

  fetchApplication() {
    // get the application
    axios
      .get(
        "http://localhost:3000/applications/" +
          this.application._id
      )
      .then((response) => {
        this.application = response.data;
        console.log(this.application);
        if (!this.application.fields) {
          Vue.toasted.error("No application found by ID");
        }
      });
  }

  onSubmit() {
    if (!Object.prototype.hasOwnProperty.call(this.application, "files")) {
      this.application["files"] = [];
    }

    this.application.files = this.application.files.concat(this.uploadedFiles);
    console.log(this.application);
     axios
      .put(
        "http://localhost:3000/applications/" +
          this.application._id,
          this.application
      )
      .then((response) => {
        this.$router.push('/applicant/referral/received')
      });
  }

  renameUpload(file) {
    const filename = uuidv4() + file.name;
    this.uploadedFiles.push(filename);
    return filename;
  }
}
</script>
