<template>
  <div style="margin-top:6.5rem">
    <h1>Get my status</h1>
    <form v-on:submit.prevent="onSubmit">
      <div class="col-md-4" v-if="!application.fields">
        <label class="sr-only" for="inlineFormInputGroup">Application ID</label>
        <div class="input-group mb-2">
          <input
            type="text"
            class="form-control"
            name="application-id"
            v-model="application.id"
            placeholder="908q34fh"
          />

          <div class="input-group-append">
            <button class="btn btn-outline-success">Request application</button>
          </div>
        </div>
      </div>

      <div v-if="application.fields">
        <h2>
          Application for {{ application.fields.firstname }} ({{
            application.id
          }})
        </h2>
        <p>Your application status is:</p>

        <table class="table"> 
          <tr v-for="course in application.courses" v-bind:key="course.name">
            <td>{{ course.name }}</td>
            <td>
              <span v-if="course.status === 'New'" class="badge badge-info"
                >New</span
              >
              <span
                v-if="course.status === 'Approved'"
                class="badge badge-success"
                >Approved</span
              >
              <span
                v-if="course.status === 'Declined'"
                class="badge badge-danger"
                >Declined</span
              >
            </td>
          </tr>
        </table>
      </div>
    </form>
  </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";

import Component from "vue-class-component";
@Component({})
export default class Status extends Vue {
  application = { id: "" };

  onSubmit() {
    // get the application
    axios
      .get(
        "http://localhost:3000/applications/" +
          this.application.id
      )
      .then((response) => {
        this.application = response.data;
        console.log(this.application);
        if (!this.application.fields) {
          Vue.toasted.error("No application found by ID");
        }
      });
  }
}
</script>
