<template>
  <div id="app">
    <NavBar></NavBar>

    <div class="col-md-8 mx-auto">
      <router-view />
    </div>
    <UkFooter></UkFooter>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import NavBar from "@/components/NavBar.vue";
import UkFooter from "./components/Footer.vue";

@Component({
  components: { NavBar, UkFooter },
})
export default class App extends Vue {}
</script>
