<template>
  <div style="margin-top:6.5rem">
    <h1>Courses</h1>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
          <router-link to="/admin/overview">Admin</router-link>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Courses</li>
      </ol>
    </nav>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Coursename</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tr v-for="course of courses" v-bind:key="course.id">
        <td>{{ course.name }}</td>
        <td>
          <button
            class="btn btn-outline-danger"
            @click="onDeleteCourse(course)"
          >
            Delete
          </button>
        </td>
      </tr>
    </table>

    <form v-on:submit.prevent="onSubmit">
      <h3>Add new course</h3>
      <div class="col-md-4">
        <label class="sr-only" for="inlineFormInputGroup">Username</label>
        <div class="input-group mb-2">
          <input class="form-control" type="text" v-model="newCourseName" placeholder="Course name"/>

          <div class="input-group-append">
            <button class="btn btn-primary" @click="onNewCourse">Save</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import Vue from "vue";

// Import Vue FilePond

import axios from "axios";

import Component from "vue-class-component";
import { v4 as uuidv4 } from "uuid";

// Create component
@Component({})
export default class Apply extends Vue {
  courses = [];
  newCourseName = "";

  mounted() {
    this.refreshCourseList();
  }

  onNewCourse() {
    axios
      .post(
        "http://localhost:3000/courses",
        { name: this.newCourseName }
      )
      .then((response) => {
        this.refreshCourseList();
        this.newCourseName = "";
      });
  }

  onDeleteCourse(course) {
    axios
      .delete(
        "http://localhost:3000/courses/" +
          course.id
      )
      .then(() => {
        Vue.toasted.success(course.name + " deleted.");
        this.refreshCourseList();
      });
  }

  refreshCourseList() {
    axios
      .get("http://localhost:3000/courses")
      .then((response) => {
        this.courses = response.data;
      });
  }
}
</script>
