<template>
  <div style="margin-top:6.5rem" v-if="registration">
    <h1>
      Application
    </h1>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
          <router-link to="/admin/overview">Admin</router-link>
        </li>
        <li class="breadcrumb-item active" aria-current="page" v-if="registration.fields">
          {{ registration.fields.firstname }} {{ registration.fields.lastname }}
        </li>
      </ol>
    </nav>

    <table class="table table-striped">
      <tr>
        <td>ID</td>
        <td>{{ registration._id }}</td>
      </tr>
      <tr>
        <td>Applied for</td>
        <td>
          <span
            class="badge badge-info mr-1"
            v-for="course of registration.courses"
            v-bind:key="course.id"
            >{{ course.name }}</span
          >
        </td>
      </tr>
      <tr
        v-for="(attribute, index) of registration.fields"
        v-bind:key="attribute.id"
      >
        <td>{{ index }}</td>
        <td>{{ attribute }}</td>
      </tr>
    </table>

    <h2>Files</h2>
    <a v-for="file of registration.files" v-bind:key="file.id" class="d-block" :href="'http://localhost:3000/files/'+file" target="_blank" rel="noopener nofollow">{{file}}</a>

    <h3>Set appliance status</h3>
    <div class="col-md-4" v-for="course in registration.courses" v-bind:key="course.name">
      <label class="" for="inlineFormInputGroup">{{course.name}}</label>
      <div class="input-group mb-2">
        <select class="form-control" v-model="course.status">
          <option>New</option>
          <option>Approved</option>
          <option>Declined</option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-outline-success" @click="updateRegistration">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";

// Import Vue FilePond
import vueFilePond from "vue-filepond";

import axios from "axios";

// Import FilePond styles
import "filepond/dist/filepond.min.css";
import FilePondPluginFileRename from "filepond-plugin-file-rename";

import Component from "vue-class-component";
import { v4 as uuidv4 } from "uuid";
import { Watch } from "vue-property-decorator";

// Create component
const FilePond = vueFilePond(FilePondPluginFileRename);
@Component({
  FilePond,
})
export default class Detail extends Vue {
  registration = {};

  mounted() {
    console.log(this.$route.query.id); // outputs 'yay'

    axios
      .get(
        `http://localhost:3000/applications/${this.$route.query.id}`
      )
      .then((response) => {
        console.log(response.data);
        this.registration = response.data;
      });
  }

  updateRegistration(val, oldVal) {
    axios
      .put(
        `http://localhost:3000/applications/${this.$route.query.id}`,
        this.registration
      )
      .then((response) => {
        Vue.toasted.success("Status updated");
      });

      let emailContent = 'Your Application status has changed:<br>';
      for(let i = 0; i < this.registration.courses.length; i++) {
        const course = this.registration.courses[i];
        emailContent+= course.name + ': ' + course.status + '<br>'
      }

      axios.post('http://localhost:3000/mail', {
        email: this.registration.fields.email,
        subject: 'Your application at University Cologne',
        content: emailContent
      });
  }
}
</script>
