<template>
  <div style="margin-top: 6.5rem">
    <h1>Admin</h1>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
          <router-link to="/admin/overview">Admin</router-link>
        </li>
      </ol>
    </nav>

    <h2>Applications</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Firstname</th>
          <th scope="col">Lastname</th>
          <th scope="col">Detail</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tr
        v-for="(registration, index) of registrations"
        v-bind:key="registration.id"
      >
        <td>{{ index + 1 }}</td>
        <td>{{ registration.fields.firstname }}</td>
        <td>{{ registration.fields.lastname }}</td>
        <td>
          <router-link
            :to="'/admin/detail?id=' + registration._id"
            class="btn btn-primary"
            >Show</router-link
          >
        </td>
        <td>
          <button
            class="btn btn-outline-danger"
            @click="onDelete(registration)"
          >
            Delete
          </button>
        </td>
      </tr>
    </table>

    <router-link to="/admin/courses">Course management</router-link>
  </div>
</template>

<script>
import Vue from "vue";

// Import Vue FilePond
import vueFilePond from "vue-filepond";

import axios from "axios";

// Import FilePond styles
import "filepond/dist/filepond.min.css";
import FilePondPluginFileRename from "filepond-plugin-file-rename";

import Component from "vue-class-component";
import { v4 as uuidv4 } from "uuid";

// Create component
const FilePond = vueFilePond(FilePondPluginFileRename);
@Component({
  FilePond,
})
export default class Apply extends Vue {
  registrations = [];

  mounted() {
    this.fetchRegistrations();
  }

  fetchRegistrations() {
    axios
      .get(
        "http://localhost:3000/applications"
      )
      .then((response) => {
        console.log(response.data);
        this.registrations = response.data;
      });
  }
  onDelete(application) {
    axios
      .delete(
        "http://localhost:3000/applications/" +
          application._id
      )
      .then((response) => {
        this.fetchRegistrations();
      });
  }
}
</script>
